body {
  background-color: rgba(144, 147, 147, 0.2);
}

.book_container {
  margin-top: 5em;
  min-height: 50em;
  background-color: rgb(177, 177, 177);
}

.bookImg {
  width: 20em;
  height: 28em;
}
