/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.logo-container {
  display: flex;
}

.logo {
  height: 60px;
}

.card {
  min-height: 20em;
  width: 18rem;
}
