#virtual environment
venv/

#secret data files
book_shelf/secret_data.py
book_shelf/book_shelf/db.cnf

#service files
.idea/
book_shelf/book_shelf/__pycache__/
book_shelf/main_app/__pycache__/
book_shelf/main_app/migrations/__pycache__/
book_shelf/__pycache__/

#media files
book_shelf/files/media/
