{% extends "main_app/base.html" %}
{% load static %}

{% block title %}
  Welcome page
{% endblock %}

{% block extrahead %}
  <link href="{% static "main_app/css/welcomepage.css" %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Book shelf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>

    <div class = "navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
           <li class="nav-item">
             <a class="nav-link" href="{% url 'register' %}">
               <button type="button" class="btn btn-success">Sign up</button>
             </a>
           <li class="nav-item">
             <a class="nav-link" href="{% url 'login' %}">
              <button type="button" class="btn btn-primary">Sign in</button>
             </a>
           </li>
       </ul>
    </div>
  </nav>

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <div class = "logo-container">
          <img class = "logo" src="{% static 'main_app/img/logo.png' %}" />
          <h1 class="display-3">Book shelf</h1>
        </div>
        <p>New approach to reading books. </p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Try it &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Add your books</h2>
          <p>Add books to your library, monitor progress of reading and do not forget about the books that you wanted to read.</p>
        </div>
        <div class="col-md-4">
          <h2>Leave notes</h2>
          <p>During the reading of the book, leave notes to remember the key points of the book</p>
        </div>
        <div class="col-md-4">
          <h2>Communicate</h2>
          <p>Share your books to your friends, comment books, rate books and keep track of your friend's progress! </p>
        </div>
      </div>
      <hr>
    </div>

  </main>

  <footer class="container">
    <p>&copy; Golov pavel, 2018</p>
  </footer>
{% endblock %}
