{% extends "main_app/base.html" %}
{% load static %}

{% block title %}
  Welcome page
{% endblock %}

{% block extrahead %}
  <link href="{% static "main_app/css/welcomepage.css" %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Book shelf</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>

    <div class = "navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
           <li class="nav-item">
             <a class="nav-link" href="{% url 'register' %}">
               <button type="button" class="btn btn-success">Sign up</button>
             </a>
           <li class="nav-item">
             <a class="nav-link" href="{% url 'login' %}">
              <button type="button" class="btn btn-primary">Sign in</button>
             </a>
           </li>
       </ul>
    </div>
  </nav>

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <div class = "logo-container">
          <img class = "logo" src="{% static 'main_app/img/logo.png' %}" />
          <h1 class="display-3">Book shelf</h1>
        </div>
        <h4>A New approach to reading books.</h4>
        <p><a class="btn btn-primary btn-lg mt-3" href="{% url 'register' %}" role="button">Try it &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-2 d-flex justify-content-center">
          <div class="card">
            <img class="card-img-top" src="{% static 'main_app/img/welcome_card1.jpeg' %}" alt="Card 1">
            <div class="card-body">
              <p class="card-text">Add books to your library, monitor progress of reading and do not forget about the books that you wanted to read.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-2 d-flex justify-content-center">
          <div class="card">
            <img class="card-img-top" src="{% static 'main_app/img/welcome_card2.jpeg' %}" alt="Card 1">
            <div class="card-body">
              <p class="card-text">During the reading of the book, leave notes to remember the key points of the book</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-2 d-flex justify-content-center">
          <div class="card myCard">
            <img class="card-img-top" src="{% static 'main_app/img/welcome_card3.jpeg' %}" alt="Card 1">
            <div class="card-body">
              <p class="card-text">Share your books to your friends, comment books, rate books and keep track of your friend's progress!</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

  </main>

  <footer class="container">
    <p>&copy; Golov pavel, 2018</p>
  </footer>
{% endblock %}
